<template name="layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header is-casting-shadow">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Accounts</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 is-casting-shadow">
      <span class="mdl-layout-title">Imagenar</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">
            <i class="material-icons">assignment</i>
            Tasks
          </a>
          <a class="mdl-navigation__link" href="{{pathFor 'profilesList'}}">
            <i class="material-icons">account_box</i>
            Accounts
          </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <!-- {{> profilesList}} -->
        {{> yield}}
      </div>
    </main>
  </div>
</template>