/* CSS declarations go here */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

a.mdl-navigation__link {
  /*font-size: 14px;*/
  font-weight: 600;
  color: #AAA !important;
}

.profiles {
  margin: 8px;
}

.section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0px;
  display: block;
}

.profile {
  padding-left: 12px;
}

.profile h6 {
  display: inline-block;
}

.profile a {
  float: right;
  margin-top: 17px;
}

#add-account {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}