/* CSS declarations go here */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

a.mdl-navigation__link {
  /*font-size: 16px;*/
  font-weight: 600;
  color: #999 !important;
  vertical-align: middle;
}

.mdl-navigation__link .material-icons {
  /*color: #999;*/
  margin-right: 30px;
  font-size: 24px;
  vertical-align: middle;
}

.profiles-table, .tasks-table {
  width: 100%;
}

.section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0px;
  display: block;
}

.profile .userpic {
  width: 24px;
  padding: 5px 10px !important;
}

.profile .userpic i {
  font-size: 48px;
}

.profile .username {
  overflow: hidden;
  padding: 15px 0px 0px 0px;
}

.profile .username h6 {
  width: 150px;
  overflow: visible;
  margin: 5px;
  vertical-align: middle;
}

.profile td.actions {
  width: 75px;
  min-width: 75px;
  padding: 15px 10px 0px 0px;
}

.profile a {
  float: right;
}

#add-account, #add-task {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}