<template name="taskItem">
  <tr class="task">
    <td class="icon mdl-data-table__cell--non-numeric"><i class="material-icons mdl-color-text--blue-grey-200">{{taskIcon}}</i></td>
    <td class="type mdl-data-table__cell--non-numeric mdl-cell mdl-cell--11-col mdl-color-text--blue-grey-700">
      <h6>{{taskName}}</h6>
      <span>{{taskType}}</span>
      <span>&nbsp;{{username}}&nbsp;</span>
      <span>/ {{taskStatus}}&nbsp;</span>
      {{counters}}
      <span>&nbsp;/ added:&nbsp;</span>
      {{livestamp createdat}}
    </td>
    <td class="actions mdl-data-table__cell--non-numeric mdl-color-text--blue-grey-700">
      <a href="" class="start mdl-button mdl-js-button mdl-button--icon {{#if active}}mdl-button--disabled{{/if}}">
        <i class="material-icons">play_arrow</i>
      </a>
      <a href="" class="pause mdl-button mdl-js-button mdl-button--icon {{#if paused}}mdl-button--disabled{{/if}}">
        <i class="material-icons">pause</i>
      </a>
      <a href="" class="stop mdl-button mdl-js-button mdl-button--icon {{#if stopping}}mdl-button--disabled{{/if}}">
        <i class="material-icons">stop</i>
      </a>
      {{#if finished}}
        <a href="" class="delete mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">delete</i>
        </a>
      {{/if}}
    </td>
  </tr>
</template>