<template name="errorItem">
  <tr class="error">
    <td class="error-type mdl-data-table__cell--non-numeric mdl-cell mdl-cell--11-col mdl-color-text--blue-grey-700">
      {{tasksid}}
    </td>
    <td class="error-type mdl-data-table__cell--non-numeric mdl-cell mdl-cell--11-col mdl-color-text--blue-grey-700">
      {{type}}
    </td>
    <td class="error-message mdl-data-table__cell--non-numeric mdl-cell mdl-cell--11-col mdl-color-text--blue-grey-700">
        {{message}}
    </td>
    <td class="error-message mdl-data-table__cell--non-numeric mdl-cell mdl-cell--11-col mdl-color-text--blue-grey-700">
        {{livestamp createdat}}
    </td>
  </tr>
</template>
